<configuration>
    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/log/snet_geo_me/snet_geo_me.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/var/log/snet_geo_me/snet_geo_me.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>20MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%level] [%.7thread] [%.36logger:%line] %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} [%.7thread] %-5level %.36logger:%line - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="au.com.ausstaker.snet" level="INFO" />
    <logger name="au.com.ausstaker.cage" level="INFO" />

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>

    <root level="INFO">
        <appender-ref ref="FILE" />
    </root>

</configuration>
